@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    
    
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);


    --font-size: 15px;
    --font-family: 'Poppins', sans-serif;
    --extra-light-font: 200;
    --light-font:400;
    --bold-font:600;
}
.attribution { font-size: 11px; text-align: center; bottom: 0%;}
.attribution a { color: hsl(228, 45%, 44%); }

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: var(--font-size);
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

